Repository cosmology-api/cosmology.api, pull requests merged in 2023-11, with the labels that each got.

#85 Add version branches to CI
  .github/workflows/ci_tests.yml
Labels: infrastructure, GitHub

#87 Backport PR #85 on branch v0.1.x (Add version branches to CI)
  .github/workflows/ci_tests.yml
Labels: infrastructure, GitHub, backport v0.1.x

#88 update license in cff
  CITATION.cff
Labels: backport v0.1.x

#90 skip autobackports
  .github/workflows/ci_tests.yml
Labels: infrastructure, GitHub, backport v0.1.x

#91 Backport PR #90 on branch v0.1.x (skip autobackports)
  .github/workflows/ci_tests.yml
Labels: infrastructure, GitHub, backport v0.1.x

#71 update config
  .github/workflows/ci_tests.yml
  pyproject.toml
  tox.ini
Labels: infrastructure, GitHub
